<%- include('header.ejs') %>

<div class="about">


<div class="about_content">
    <u><h1>About Vaccine Scheduler</h1></u>
<p>This web application is use to provide the details of COVID vaccine availability in the area.
    As soon as user subscribe to the website by provding the user email , city name and vaccine type then user receive 
    a mail which tells whether vaccine is avaliable or not if avaliable then it specifies the all hospital names with
    with no of paid and free doses & also link so that user can book as soon as possible. This process repeats everyday . If a user have got vaccinated and don't want to receive 
    mail futher then user can unsubscribe to the application. 
   
</p>
<a href="/"><strong>Give It a try</strong> </a>
</div>


</div>

</body>
</html>