 <div class="copyright">

  <div class="home_box">
    <a href="/">Home</a>
    <a href="#">Contact</a>
    <a href="/about">About</a>


    <p>&copy copyright 2021 Vaccine Scheduler</p>

  </div>


 </div>
 
 </body>
  <script src="index.js"></script>
</html>
